%h2 Rejestracja
%br
= form_for resource, url: registration_path(resource), html: { class: "form form-horizontal" } do |f|
  .form-group
    = f.label "Email", class: 'col-lg-2 control-label', for: "email"
    .col-sm-10
      = f.text_field :email, required: true, autofocus: true, label: false, placeholder: "Email", class: "form-control"
  .form-group
    = f.label "Hasło", class: 'col-sm-2 control-label', for: "password"
    .col-sm-10
      = f.password_field :password, required: true, autofocus: false, label: false, placeholder: "Hasło", class: "form-control"
    .form-group
    = f.label "Powtórz hasło", class: 'col-sm-2 control-label', for: "url"
    .col-sm-10
      = f.password_field :password_confirmation, required: true, autofocus: false, label: false, placeholder: "Powtórz hasło", class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Zarejestruj się", class: "btn btn-success btn-sm"
