= form_for map, url: maps_path(map), html: { method: :post, class: "form form-horizontal" } do |f|
  .form-group
    = f.label "Nazwa", class: 'col-sm-2 control-label', for: "name"
    .col-sm-10
      = f.text_field :name, required: true, autofocus: true, label: false, placeholder: "Nazwa", class: "form-control"
  .form-group
    = f.label "Url", class: 'col-sm-2 control-label', for: "url"
    .col-sm-10
      = f.text_field :url, required: true, autofocus: false, label: false, placeholder: "Url", class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Utwórz", class: "btn btn-success btn-sm"
      = link_to "Wstecz", maps_path, class: "btn btn-default btn-sm"
