%h1 Listing users
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th
      %th
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= link_to 'Show', user_path(user)
        %td= link_to 'Edit', edit_user_registration_path(user)
        %td= link_to 'Destroy', registration_path(user), method: :delete, data: { confirm: 'Are you sure?' }
