!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
      %title Techniki Mikroprocesorowe Crawler
      = stylesheet_link_tag "application", media: "all"
      = javascript_include_tag "application"
  %body{class: "#{controller_name} #{action_name}", data: { 'view-controller' => controller_name.classify, 'view-action' => action_name.classify }}
  .container
    = render 'layouts/navigation'
    = yield
  %footer
    = render 'layouts/footer'
